@font-face {
  font-family: 'logo-font';
  src: url('../fonts/logo/logoFont.woff2') format('woff2'),
  url('../fonts/logo/logoFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  src: url('../fonts/main/bold.woff2') format('woff2'),
  url('../fonts/main/bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'regular';
  src: url('../fonts/main/regular.woff2') format('woff2'),
  url('../fonts/main/regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
