@import "fonts";

//Colors:

$navbar-color: #5f6a71;
$background-color: lightgrey;
$header-color: #383e43;
$font-color: lightgrey;

//Fonts:

$logo-font: 'logo-font', cursive;
$main-regular: "regular", cursive;
$main-bold: "bold", cursive;

// others:

$container-width: 1100px;