@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/fonts";

.about {
  width: 100%;
  height: calc(100vh - 130px);

  .about__container {
    font-family: $main-regular;
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: $background-color;
    display: flex;
    flex-direction: column;

    .about__name {
      background: $background-color;
      line-height: 30px;
      font-size: 18px;
      color: $header-color;
      padding-left: 20px;
      padding-top: 10px;
    }
    .about__header {
      margin-top: 80px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 24px;
    }
    .about__text {
      display: block;
      text-align: center;
      font-size: 18px;
      color: $header-color;
      margin: 0 20px;
      line-height: 30px;

      .about__text--link {
        text-decoration: none;
        color: tomato;
      }
    }
  }
}

@include tablet {
  .about__name {
    display: none;
  }
}