@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/variables";

.singleCastle {
  font-family: $main-regular;
  box-sizing: border-box;
  color: $header-color;

  .singleCastle__container {
    max-width: $container-width;
    height: calc(100% - 130px);
    padding-top: 30px;
    margin: 0 auto;

    .singleCastle__username__container {
      height: 50px;
      width: 100%;
      background: $background-color;
      line-height: 30px;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 80px;
      z-index: 2;

      .username__name {
        padding: 10px 20px;
      }
    }

    .singleCastle__view {
      width: 100%;
      height: 100%;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .singleCastle__view__container {
        height: 100%;
        width: 80%;
        margin: 20px auto;
        display: block;
        background: whitesmoke;
        padding: 15px;
        border-radius: 10px;
        position: relative;

        .carousel__container {
          height: 100%;
          width: 100%;

          .carousel__slide {
            height: 150px;
            width: 300px;

            .carousel--pic {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              object-fit: cover;
            }
          }
        }
      }

      .carousel__btn {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        background: whitesmoke;
        border: none;
        border-radius: 50%;
        z-index: 1;
        padding: 0;
        height: 28px;
        width: 28px;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          height: 30px;
          width: 30px;
          object-fit: contain;
        }
      }

      .btn__prev {
        left: 17px;
      }

      .btn__next {
        right: 17px;
      }
    }

    .singleCastle__view--title {
      text-align: center;
      font-size: 25px;
      margin-bottom: 20px;
    }

    .singleCastle__view--description {
      width: 80%;
      margin: 0 auto 10px;
      display: block;
      background: whitesmoke;
      color: $header-color;
      padding: 15px;
      border-radius: 10px;
      line-height: 22px;
    }

    .singleCastle__view--button {
      width: 150px;
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      color: $header-color;
      margin: 10px;
      border-radius: 5px;
      border: none;
      background-color: tomato;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
  }
}

@include tablet {
  .singleCastle {
    .singleCastle__container {
      .singleCastle__view {
        .singleCastle__view__container {
          .carousel__container {
            .carousel__slide {
              height: 500px;
              width: auto;

              .carousel--pic {
                object-fit: cover;
              }
            }
          }

          .carousel__btn {
            height: 50px;
            width: 50px;
            background: none;

            .icon {
              height: 50px;
              width: 50px;
            }
          }

          .btn__prev {
            left: -70px;
          }

          .btn__next {
            right: -70px;
          }

          .carousel__btn:hover {
            cursor: pointer;
          }
        }
        .singleCastle__view--title {
          font-size: 35px;
        }
        .singleCastle__view--button:hover {
          cursor: pointer;
        }
      }
    }
  }
}