@import "../../styles/reset";
@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/variables";

.header {
  background-color: $header-color;
  color: $font-color;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  font-family: $main-regular;

  .header__container {
    height: 100%;
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .header__logo {
      display: flex;
      align-items: center;
      height: 100%;
      width: 200px;
      font-family: $logo-font;
      font-size: 1.7em;
      text-decoration: none;
      padding-left: 10px;

      span {
        color: $font-color;
        line-height: 50px;
      }

      .header__logo__castle {
        background-image: url("../../icons/castle2.svg");
        background-repeat: no-repeat;
        height: 50px;
        width: 50px;
        margin: 0 7px;
      }
    }

    .header__username {
      display: block;
      font-size: 1.1em;
      position: absolute;
      top: 100%;
      width: 100%;
      background: $background-color;
      line-height: 30px;
      color: $header-color;
      padding-left: 10px;

      div {
        text-align: center;
      }
    }

    .header__menu__button {
      background-image: url("../../icons/menu.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: $background-color;
      color: $font-color;
      border: 1px solid black;
      border-radius: 5px;
      height: 45px;
      width: 45px;
      margin-right: 15px;
    }

    .header__nav--mobile {
      position: absolute;
      top: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $navbar-color;
      z-index: 100;

        .header__btn--mobile {
          width: 100%;
          height: 70px;
          line-height: 70px;
          text-transform: uppercase;
          text-align: center;
          background: $navbar-color;
          border: none;
          border-bottom: 1px solid $header-color;
          color: $font-color;
          font-size: 1.2em;
          text-decoration: none;
        }
        :active {
          color: tomato;
        }
    }
    .hidden {
      display: none;
    }
  }
}

@include tablet {
  .header {
    .header__container {
      .header__nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        margin-right: 10px;

        .router__container {
          display: flex;
          height: 100%;

          .header__nav__link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            color: $font-color;
            font-size: 1em;
            width: 70px;
            height: 100%;
            border: none;
            background-color: transparent;
            align-self: flex-end;
          }
          .header__nav__link:active {
            color: tomato;
          }
        }
      }

      .header__user {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        margin: 0 20px;
        color: $font-color;

        .header__user__icon {
          height: 30px;
          width: 30px;
          background-image: url("../../icons/user.svg");
          background-position: center;
          background-size: cover;
          background-color: $background-color;
          border-radius: 50%;
        }
        .header__user__name {
          display: block;
          font-size: 1.1rem;
          margin: 0 15px;
        }
      }
    }
  }
}

@include desktop {
  .header {
    .header__container {
      .header__nav {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 10px;

        .header__nav__link {
          text-transform: uppercase;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          line-height: 100%;
          color: $font-color;
          width: 70px;
          height: 100%;
          border: none;
          background-color: transparent;
        }

        .header__nav__link:hover {
          border-bottom: 3px solid tomato;
          color: tomato;
          cursor: pointer;
        }
      }

      .header__user {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        margin: 0 20px;
        color: $font-color;

        .header__user__icon {
          height: 30px;
          width: 30px;
          background-image: url("../../icons/user.svg");
          background-position: center;
          background-size: cover;
          background-color: $background-color;
          border-radius: 50%;
        }

        .header__user__name {
          display: block;
          font-size: 1.1rem;
          margin: 0 15px;
        }
      }
    }
  }
}