@import "../../styles/reset";
@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/variables";

.footer {
  height: 50px;
  width: 100%;
  background-color: $header-color;
  position: sticky;
  bottom: 0;
  line-height: 50px;

  .footer__container {
    max-width: $container-width;
    margin: 0 auto;
    text-align: right;
    height: 100%;

    .footer__text {
      font-family: $main-regular;
      font-size: 12px;
      margin-right: 10px;
      color: $font-color;
    }
  }
}

@include tablet {
  .footer {
    .footer__container {
      .footer__text {
        font-size: 13px;
      }
    }
  }
}