@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/fonts";

.allList {
  font-family: $main-regular;
  .allList__container {
    max-width: $container-width;
    height: 100%;
    padding-top: 80px;

    .allList__castles--list {
      background: $navbar-color;
      margin: 0 20px;
      border-radius: 5px;
      padding: 10px;

      .allList__castle {
        background: whitesmoke;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;

        .allList__castle--name {
          font-size: 18px;
          display: block;
          text-align: center;
          margin-bottom: 15px;
        }
        .allList__castle--description {
          font-size: 15px;
          margin-bottom: 15px;
        }
        .allList__castle--buttons {
          display: flex;
          justify-content: center;
          align-items: center;

          .castle__button {
            background: $header-color;
            color: $font-color;
            border: none;
            border-radius: 5px;
            height: 30px;
            width: 50px;
          }
          .button__add {
            margin-right: 10px;
          }
        }
      }
      .allList__castle:last-child {
        margin-bottom: 0;
      }
    }
  }
}